<h1> Hair Salon </h1>

<p> Add clients to any stylist:</p>

<form action="/clients" method="post">
  <label for="stylist_id">Select a Stylist</label>
  <select id="stylist_id" name="stylist_id" type="text">
    <% @stylists.each() do |stylist| %>
      <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
    <% end %>
  </select>
  <br>
  <label for="name">Name of the client:</label>
  <input id="name" name="name" type="text">

  <button class="btn btn-primary" type="submit">Add client</button>
</form>
