<!DOCTYPE html>
  <html>
    <head>
      <title>Hair Salon</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link rel='stylesheet' href='/styles.css'>
      <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    </head>
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-top">
        <a href="/"><span class="navbar-brand"><p>Hair Salon</p></span></a>
        <ul class="nav navbar-nav navbar collapse navbar-collapse">
          <li>
            <a href="/stylists"><p>View All Stylists</p></a>
          </li>
          <li>
            <a href="/stylists/new"><p>Add New Stylist</p></a>
          </li>
        </ul>
      </nav>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </html>
