<div class="container-fluid box">

<h1>Your Current Stylists</h1>

  <% if @stylists.any?() %>
    <h3>Here are your stylists:</h3>

    <ul>
      <% @stylists.each() do |stylist| %>
        <li><a href="/stylists/<%= stylist.id()%>"><p><%= stylist.name() %></p></a> </li>
      <% end %>
    </ul>

  <% else %>

      <p>There are no stylists yet!</p>

  <% end %>
</div>
