<div class="container-fluid box">
<form action="/stylists" method="post">
  <label for="name"><p>Assign a name to this stylist:</p></label>
  <input id="name" name="name" type="text">

  <button class="btn btn-primary" type="submit">Add stylist</button>
</form>
</div>
